#navlist
{
    width: 100%;
    padding: 10px;
    /* margin-left: 15px;
    margin-right: 15px; */
    list-style-type: none;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    height: 100% ;
    width: 100vw ;
    overflow-x: none;
    background-color: #031620;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    


}
nav{
    width: 100%;
    overflow-x: none;
}
.navcontainer
{
    width: 100vw;
    /* background-color: rgba(0, 0, 255, 0.144); */
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

#navlogo{
    font-size: 2rem;
    color:white
}

a{
    text-decoration: none;
    color: white;

}
#navitems{
    display: flex;
    gap: 20px;
}

.footerbox{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); 
    width: 100%;
    text-align: center;
    min-height: 30px;

}

.footerbox p{
    color: azure;
    font-size: 2rem;
}

.contentbox{
    width: 50%;
    /* height: 650px ; */
    margin:auto;
    /* border: 1px solid black; */
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 40px;
    box-shadow: 0px 0px 30px black;
    
}

.rightbox{
    position: relative;
    overflow: hidden;

}

.rightbox img{
    height: 100%;
    width: 150px;
    border-radius: 20px;
    transition: all 0.6s linear 0s;
}

.rightbox:hover{
    transform: scale(1.1);
}

.rightbox .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(19, 17, 17, 0.534);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.6s linear 0s;

}

.rightbox:hover .overlay{
    opacity: 1;
}

.rightbox .overlay span{
    color: white;
    font-size: 1.2rem;
}

.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.leftbox{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ingBox{
    font-size: 1.4rem;
}
.recipeBox{
    font-size: 1.4rem;
}