*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
}
.navcontainer{
    width: 100%; 
    height: 50px;
    overflow-x: hidden;
    /* background-color: #4158D0; */
    /* background-image: linear-gradient(43deg,rgba(250, 246, 246, 0.377) 100%, rgb(168, 166, 166) 90%,white 55%); */
    /* background: none; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.navlist{
    /* color: whitesmoke; */
    display: flex;
    gap: 30px;

}

#b1{
    
    color:white;
    /* border: 0.1rem solid black; */
    /* background-color: rgba(255, 192, 203, 0.116); */
    background-color: #6674cc;
    border-radius: 10px;
    padding: 0.52rem;
} 

#b2{
    /* color:white; */
    /* border: 0.1rem solid black; */
    /* background-color: rgba(255, 192, 203, 0.116); */
    background-color: transparent;
    border-radius: 10px;
    padding: 0.52rem;
    /* font-family: ; */
}


.dataBox{
    width: 100%;
    height: 800px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* position:absolute; */
    /* gap: 300px; */
}

.textBox{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    

}

#contentBox p{
    font-size: 60px;
 
} 


.head {
    border-right:  5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
            headingText 1s forwards ,
            eraseHeadingText 1s forwards 2s ,
            typeNewheading 3s forwards 5s infinite, 
            cursor .4s step-end infinite alternate;
  }


  @keyframes cursor {
    50%{
        border-color: transparent;
    }
    
  }
  
  @keyframes headingText {
  
    from {
      width: 70%;
    }
  }
  
  @keyframes eraseHeadingText {

    100% {
      width: 65%;
    }
  }

   @keyframes typeNewheading {


    65% {
      width: 100%;
    }
  } 


#descBox p{
    font-size: 30px;
 
} 

#button1,#button2{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 0.52rem;
    color: black;
}


.imgBox{
    width: 50%;
    height: 100%;
   
}

 .imgBox img{
    width: 100%;
    height: 100%;
    background: none;
} 

#button1{
    background-color:#6674cc;;
}

.ratingBox{
    width: 100%;
    height: 200px;
    /* border: 1px solid black; */
    background-color:#404c99 ;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 50px;
}

.r1{
    width: fit-content;
    /* height: 200px; */
    /* border:  1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.r2{
    width: fit-content;
    /* height: 200px; */
    /* border:  1px solid black; */
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;


}
.r3{
    width: fit-content;
    /* height: 200px; */
    /* border:  1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.r4{
    width: fit-content;
    /* height: 200px; */
    /* border:  1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

#text , #number{
    color: white;
    font-size: large;
}