*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
}
.navcontainer{
    width: 100%; 
    height: 50px;
    overflow-x: hidden;
    /* background-color: #4158D0; */
    /* background-image: linear-gradient(43deg,rgba(250, 246, 246, 0.377) 100%, rgb(168, 166, 166) 90%,white 55%); */
    /* background: none; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight: 800;

}

.navlist{
    /* color: whitesmoke; */
    display: flex;
    gap: 30px;

}

#b1{
    
    color:white;
    /* border: 0.1rem solid black; */
    /* background-color: rgba(255, 192, 203, 0.116); */
    background-color: #6674cc;
    border-radius: 10px;
    padding: 0.52rem;
    font-weight: 600;
} 

#b2{
    /* color:white; */
    /* border: 0.1rem solid black; */
    /* background-color: rgba(255, 192, 203, 0.116); */
    background-color: transparent;
    border-radius: 10px;
    padding: 0.52rem;
    /* font-family: ; */
    font-weight: 700;


}


.dataBox{
    width: 100%;
    height: 800px;
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* position:absolute; */
    /* gap: 300px; */
}

.textBox{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    

}

#contentBox p{
    font-size: 60px;
 
} 


.head {
    border-right:  5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
            headingText 1s forwards ,
            eraseHeadingText 1s forwards 2s ,
            typeNewheading 3s forwards 5s infinite, 
            cursor .4s step-end infinite alternate;
  }


  @keyframes cursor {
    50%{
        border-color: transparent;
    }
    
  }
  
  @keyframes headingText {
  
    from {
      width: 70%;
    }
  }
  
  @keyframes eraseHeadingText {

    100% {
      width: 65%;
    }
  }

   @keyframes typeNewheading {


    65% {
      width: 100%;
    }
  } 


#descBox p{
    font-size: 30px;
    font-weight: 900;
 
} 

#button1,#button2{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 0.52rem;
    color: black;
    font-weight: 700;
}


.imgBox{
    width: 50%;
    height: 100%;
   
}

 .imgBox img{
    width: 100%;
    height: 100%;
    background: none;
} 

#button1{
    background-color:#6674cc;;
    font-weight: 800;
}

.ratingBox{
    width: 100%;
    height: 200px;
    /* border: 1px solid black; */
    background-color:#404c99 ;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 50px;
}

.r1{
    width: fit-content;
    /* height: 200px; */
    /* border:  1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.r2{
    width: fit-content;
    /* height: 200px; */
    /* border:  1px solid black; */
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;


}
.r3{
    width: fit-content;
    /* height: 200px; */
    /* border:  1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.r4{
    width: fit-content;
    /* height: 200px; */
    /* border:  1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

#text , #number{
    color: white;
    font-size: large;
    font-weight: 900;
}


.visonBox{
    width: 100%;
    height: 1000px;
    /* border: 2px solid black; */
    background-color: #f9fcff;
    background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:100px ;
    gap: 20px;
    
}

#about{
    font-size: 2em;
    font-weight: 800;
    color: #6674cc;
    text-align: center;
}
#answer{
    font-size: 3em;
    max-width: 36rem;
    text-align: center;
    font-weight: 600;

}

.courses{
    background-color: transparent;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.coursespart1{
    background-color: transparent;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#dsa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;
    border-bottom-color: rgba(1, 162, 142, 0.39);
    background-color: rgba(255, 255, 255, 0.5);
    gap: 20px;
    padding-left: 3rem;
    padding-right: 3rem;

}
#dsa:hover{
    transform: scale(1.1);
    transition: all 1s linear;

}

#detailBox{
    max-width: 15rem;
    text-align: center;
}

#placementpre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(229, 48, 62, 0.39);
    padding-left: 3rem;
    padding-right: 3rem;
    gap: 20px;

}

#placementpre:hover{
    transform: scale(1.1);
    transition: all 1s linear;
}



#handpicked{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;
    border-bottom-color: rgba(55, 19, 253, 0.39);
    background-color: rgba(255, 255, 255, 0.5);
    padding-left: 3rem;
    padding-right: 3rem;
    gap: 20px;

}

#handpicked:hover{
    transform: scale(1.1);
    transition: all 1s linear;
}

.coursespart2{
    background-color: transparent;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    gap: 30px;

} 

#curatedContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;
    border-bottom-color: rgba(19, 120, 175, 0.39);
    background-color: rgba(255, 255, 255, 0.5);
    gap: 20px;
    padding-left: 3rem;
    padding-right: 3rem;

}

#curatedContent:hover{
    transform: scale(1.1);
    transition: all 1s linear;
}

#detailBox{
    max-width: 15rem;
    text-align: center;
}

#learnfrombest{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;
    border-bottom-color: rgba(26, 158, 253, 0.39);
    background-color: rgba(255, 255, 255, 0.5);
    padding-left: 3rem;
    padding-right: 3rem;
    gap: 20px;

}

#learnfrombest:hover{
    transform: scale(1.1);
    transition: all 1s linear;
}

#learnsomethingnew{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;
    border-bottom-color: rgba(249, 113, 21, 0.39);
    background-color: rgba(255, 255, 255, 0.5);
    padding-left: 3rem;
    padding-right: 3rem;
    gap: 20px;

}

#learnsomethingnew:hover{
    transform: scale(1.1);
    transition: all 1s linear;
}


.instructorBox{
    width: 100%;
    height: 900px;
    /* border: 2px solid transparent; */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    
}

.detailsBox{
    width: 80%;
    height: 700px;
    background-color: transparent;
    /* border:  2px solid pink; */
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap:90px
}

#instructor{
    display: flex;
    justify-content: space-around;
    
    
}

.imgtextBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experienceBox{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}


#instrbutton{
    background-color: rgb(102 116 204);
    font-size: 1rem;
    padding: 2px;
    border-radius: 6px;
}

#instructorText{
    color: black;
    font-size: larger;
    font-weight: 1000;
}

#founderBox, #instrcutorImg{
    color: black;
    font-size: larger;
    font-weight: 1000;
}

#amazonText, #amazonimg{
    color: black;
    font-size: larger;
    font-weight: 1000;
}
#microsoftText{
    color: black;
    font-size: larger;
    font-weight: 1000;
}

#googleText{
    color: black;
    font-size: larger;
    font-weight: 1000;
}

#mimg{
    width: 140px;

}
#aimg{
    width: 120px;
    height: 40px;

}
#gimg{
    width: 150px;
    height: 40px;
}
#Iimg{
    width: 190px;
    height: auto;
}