.box{
    width: 400px;
    height: 400px;
    background-color: beige;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    /* margin: auto; */

    transition: all 3s linear 1s;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

 .box:hover{
    
    /*
    transform: rotate(45deg);
    transform: rotate(360deg);
     transform: rotate(-45deg); 
     */

    /* transform: scale(2); */
   /*  transform: scale(0.5);
    transform: rotate(-45deg);  */

/*     transform: skew(45deg) ; also supports negative
 */

 /* transform: translate(0px,500px);  also supports neagtive value on x axis and y axis
*/

} 

p{
    font-size: 36px;
}